.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: width 0.3s ease;
}

.logo-container.shrink {
  display: block;
  width: 2.5rem;
}

.logo {
  display: block;
  height: 33px;
  width: 9rem;
  background-color: #fff;
}

.left-arrow {
  display: block;
  margin-left: 9rem;
  background-color: #ffffff;
  ;
}

.right-arrow {
  display: block;
  margin-left: 1rem;
  background-color: #ffffff;
  ;
}



.menu-icon {
  display: none;
}

.profile {
  background-color: #333;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.profile-firstletter {
  font-size: 1rem;
  font-weight: 600;
  background-color: black;
}

@media (max-width: 480px) {
  .header-container {
    padding: 0.75rem 1rem;

  }

  .logo-container {
    gap: 0.5rem;
  }

  .logo-container.shrink {
    display: flex;
  }

  .logo {
    display: none;

  }


  .right-arrow {
    display: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
  }


  .left-arrow {
    display: none;
  }

  .menu-icon {
    display: block;
    font-size: 1.3rem;
    margin-left: -20rem;

  }

  .profile {
    width: 32px;
    height: 32px;
  }

  .profile-firstletter {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) and (max-width: 834px) {
  .header-container {
    padding: 1rem;
  }

  .logo-container {
    gap: 0.5rem;
  }

  .logo-container.shrink {
    width: 2.5rem;
  }

  .logo {
    width: 7rem;
  }

  .left-arrow {
    margin-left: 6rem;
  }

  .right-arrow {
    margin-left: 0.5rem;
  }

  .menu-icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .profile {
    width: 36px;
    height: 36px;
  }

  .profile-firstletter {
    font-size: 0.9rem;
  }
}