@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(43, 43, 77); */
  background-color: linear-gradient(135deg, rgb(30, 30, 60), rgb(60, 60, 100));
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:any-link {
  text-decoration: none;
  color: inherit;

}